@page "/planning"

@inject IJSRuntime JsRuntime

@inject DeskPlan.Data.Services.PlanningService _planningService
@inject DeskPlan.Data.Services.RoomService _RoomService
@inject DeskPlan.Data.Services.DeskService _deskService
@inject DeskPlan.Data.Services.UserService _userService

<h3>Planning</h3>

<EditForm Model="@planning" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <label>Room & Desk</label>
            </div>

            <div class="col">
                <label>User</label>
            </div>

            <div class="col">
                <label>Start Week</label>
            </div>

            <div class="col">
                <label>End Week</label>
            </div>

            <div class="col-1">
                <label></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <select @bind="RoomId" class="form-control mb-2" id="Room">
                        @if (rooms != null)
                        {
                            foreach (Models.Room room in rooms)
                            {
                                <option value="@room.RoomId">@room.Name</option>
                            }
                        }
                    </select>
                    <select @bind="planning.DeskId" class="form-control" id="Desk">
                        @if (desks != null)
                        {
                            foreach (Models.Desk desk in desks)
                            {
                                <option value="@desk.DeskId">@desk.Name</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => planning.DeskId)" />
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <select @bind=planning.UserId class="form-control" id="User">
                        @if (users != null)
                        {
                            foreach (Models.User user in users)
                            {
                                <option value="@user.UserId">@(user.FirstName + " " + user.LastName) </option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => planning.UserId)" />
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <InputDate type="week" @bind-Value=planning.StartDate class="form-control" id="StartDate" />
                    <ValidationMessage For="@(() => planning.StartDate)" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <InputDate type="week" @bind-Value=planning.EndDate class="form-control" id="EndDate" />
                    <ValidationMessage For="@(() => planning.EndDate)" />
                </div>
            </div>

            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</EditForm>

@* chart js code can be found in _Host.cshtml *@
<div class="pt-4" id="planning"></div>

@code {
    private CustomValidator customValidator;

    //Model
    private int roomId;

    public int RoomId
    {
        get { return roomId; }
        set
        {
            roomId = value;

            RefreshDesks(roomId);
            if (desks != null && desks.Any())
            {
                DeskId = desks.FirstOrDefault().DeskId;
            }
        }
    }

    private int deskId;

    public int DeskId
    {
        get { return deskId; }
        set { deskId = value; }
    }

    private Models.Planning? planning = new Models.Planning();
    private List<Models.Planning?> plannings = new List<Models.Planning?>();

    private List<Models.Room> rooms = new List<Models.Room>();
    private List<Models.Desk> desks = new List<Models.Desk>();
    private List<Models.User> users = new List<Models.User>();

    //Row selected helper
    private static Action<int> rowSelectedAction;

    //Error handling
    [CascadingParameter(Name = "ErrorComponent")]
    protected IErrorComponent ErrorComponent { get; set; } = null!;

    #region display
    protected override async Task OnInitializedAsync()
    {
        await RefreshRooms();
        await RefreshUsers();

        planning.StartDate = DateTime.Now;
        planning.EndDate = DateTime.Now;

        rowSelectedAction = RowSelected;
    }

    private async Task RefreshPlannings()
    {
        plannings = await _planningService.GetAllPlanningsAsync();

        // Draw chart
        await JsRuntime.InvokeAsync<Task>("drawChart", plannings);
    }

    private async Task RefreshRooms()
    {
        rooms = await _RoomService.GetAllRooms();
    }

    private async Task RefreshDesks(int roomId)
    {
        desks = await _deskService.GetAllDesksForRoomAsync(roomId);
    }

    private async Task RefreshUsers()
    {
        users = await _userService.GetAllUsersAsync();
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        await RefreshPlannings();
    }
    #endregion

    #region CRUD
    private async void HandleValidSubmit()
    {
        customValidator.ClearErrors();

        var errors = new Dictionary<string, List<string>>();

        if (planning.DeskId == 0)
        {
            errors.Add(nameof(planning.DeskId),
                new List<string>() { "A Desk is required." });
        }

        if (errors.Count() > 0)
        {
            customValidator.DisplayErrors(errors);
        }
        else
        {
            await AddPlanning();
        }
    }

    private async Task AddPlanning()
    {
        try
        {
            await _planningService.InsertPlanningAsync(planning);
            await RefreshPlannings();
        }
        catch (Exception e)
        {
            ErrorComponent.ShowError(e.Message, e.StackTrace ?? "Please reload");
        }
    }
    #endregion

    #region event handlers
    private void RowSelected(int row)
    {
        planning = plannings[row];
    }

    [JSInvokable]
    public static void RowSelectedCaller(int row)
    {
        rowSelectedAction.Invoke(row);
    }
    #endregion
}
